@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


@media screen and (max-width: 768px) {
  /* Estilos específicos para dispositivos móveis */
}

body {
  background-color: #f5e5e5;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Kaffeesatz Light';
  font-size: x-large;
  min-height: 100vh;
  background-position: right;
}


.botao {
  position: absolute;
  right: 100px;
  margin-left: 1300px;
}
.botao button:hover{
  background-color: #548caf;
  color: black;
}
/* Estilo para cada botão */
.botao button {
  display: block;
  margin-top: 200px;
  padding: 30px 50px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  border: #f5e5e5;
  background-color: rgb(141, 194, 228); /* Cor de fundo do botão */
  color: black; /* Cor da fonte do botão */
}

.bemvindo {
  border: 2px solid black; /* Adicione uma borda preta de 2px */
  border-radius: 15px; /* Adicione bordas arredondadas */
  padding: 25px 25px; /* Adicione algum espaço interno para o conteúdo */
}

.resumo {
  border: 2px dotted black; /* Adicione uma borda preta de 2px */
  border-radius: 15px; /* Adicione bordas arredondadas */
  padding: 15px 30px; /* Adicione algum espaço interno para o conteúdo */
}

.dropdown-menu {
  background-color: rgb(#76add0);
  color: rgb(#76add0);
}

.nav-link:hover {
  background-color: #548caf;
  color: #ffffff
}

.dropdown-menu {
  background-color: rgb(#76add0);
  color: #76add0;
  border-radius: 15px;

}

.dropdown-item:hover {
  background-color: #548caf;
  color: #ffffff;
}


.btn-primary {
  background-color: #76add0;
  border-color: #76add0;
}

.btn-primary:hover {
  background-color: #548caf;
  border-color: #ffffff
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #76add0 !important;
  border-color: #76add0 !important;
  box-shadow: none !important;
}

.btn btn-dark btn-lg {
  margin: 700px;
}

.bemvindo {
  max-width: 400px;
  font-size: 35px;
  line-height: 45px;
  font-weight: bold;
  margin: 80px;
  margin-top: 120px;
}

.resumo {
  max-width: 600px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 150px;
  margin: 80px;
  margin-top: 200px;
}